/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
/*<===========common style start =========>*/
 .span_primary{
    color: tomato;
 }
.btn{
    background-color: tomato;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    border: none;
}
.bark-2{
    color: #474747;
}

/*<===========common style end =========>*/
/*<===========header style start=========>*/
header{
    background-image: url("../images/developer.png"),url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: top left,right bottom;


}
nav{
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 50px 200px;
}
nav li{
    list-style-type: none;
    
}
nav ul li a{
    text-decoration: none;
    color: aquamarine;
    font-weight: bold;
}
nav ul{
   display: flex;
   align-items: center;
   gap: 40px;
}
/*<===========header style start=========>*/  

/*<===========banner style start=========>*/



.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 35px 0 200px;
}

.banner_contant{
   width: 580px;
}
.banner_title{
    font-weight: bold;
    font-size: 30px;
    
}

/*<===========banner style start=========>*/

/*<===========about style start=========>*/
.about{
    width: 1140px;
    /* height: 550px; */
    margin: 130px auto;
    border-radius: 5px;
    background-color: #e2dbdb;
    padding: 130px 150px;
    text-align: center;
}
.items{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*<===========about style start=========>*/
.skill{
    width: 1140px;
    background-color: #e2dbdb;
    padding: 40px 150px;
    margin: auto;
    border-radius: 5px;
    
}
.skill_title{
    text-align: center;
    font-size: 30px;
}
.parent{
    display: flex;
    gap: 30px;
    /* align-items: center;
    justify-content: space-between; */
}
.child{
     
    box-shadow: 0px 6px 50px 0px rgb(219, 200, 200);
    padding: 30px;
}

/*<===========about style end=========>*/
.resume{
    width: 1140px;
    background-color: #e2dbdb;
    padding: 40px 150px;
    margin: 50px auto;
    border-radius: 5px;
}
.resume-container{
     display: flex;
     gap: 24px;
}
/*<===========common style start=========>*/
/*<===========common style start=========>*/
/*<===========common style start=========>*/
/*<===========common style start=========>*/
/*<===========common style start=========>*/
/*<===========common style start=========>*/

/*<===========common style start=========>*/
/*<===========common style start=========>*/
/*<===========common style start=========>*/

